<main>
  <div class="box">
    <span class="borderline"></span>
    <section>
      <h2>Sign in</h2>
      <div class="inputBox">
        <input type="email" required="true" [(ngModel)]="email">
        <span> email</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="text" required="true" [(ngModel)]="password">
        <span> password</span>
        <i></i>
      </div>
      <div class="links">
        <a href="#">Forgot Password</a>
        <a routerLink="/signup">Sign up</a>
      </div>
      <input type="submit" value="Login" (click)="logIn()">
    </section>
  </div>


</main>